.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	vertical-align: middle;
	text-align: center;
}

td, th, h1, h2 {
	text-align: center;
}

a {
	text-decoration: none !important;
	color: inherit;
}

.panel-footer:hover {
	cursor: pointer;
}

.container {
	width: 800px;
}

.table-code > tbody > tr > th,
.table-code > tfoot > tr > th,
.table-code > thead > tr > th,
.table-code > thead > tr > td,
.table-code > tbody > tr > td,
.table-code > tfoot > tr > td {
	vertical-align: middle;
	text-align: left;
	padding: 5px;
	padding-right: 30px;
}

