.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	vertical-align: middle;
	text-align: center;
}

.screencell {
	width: 30px;
	height: 30px;
}

#screen {
	line-height: 30px;
}

td, th, h1, h2 {
	text-align: center;
}

a {
	text-decoration: none !important;
	color: inherit;
}

.panel-footer:hover {
	cursor: pointer;
}

.container {
	width: 800px;
}


